.version.index {
    color: #00000F;
    background-color: #37582F;
}

#page {
    z-index: 1;
    min-height: 1358px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    width: 100%;
    max-width: 998px;
    margin-left: auto;
    margin-right: auto;
}

#ppu1977-3 {
    z-index: 0;
    margin-right: -10000px;
    margin-top: 8px;
    width: 96.2%;
    margin-left: 1.91%;
}

#pu1977-3 {
    z-index: 11;
    width: 65.84%;
    margin-left: 33.96%;
}

#u1977-3 {
    z-index: 11;
    min-height: 70px;
    margin-bottom: -1px;
    position: relative;
    margin-right: -10000px;
    width: 50.95%;
}

#u1983-4 {
    z-index: 34;
    min-height: 24px;
    position: relative;
    margin-right: -10000px;
    margin-top: 12px;
    width: 15.19%;
    left: 84.82%;
}

#u1983-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 24px;
    width: 15.19%;
    margin: 12px -10000px -1px 0%;
}

#u1983-4.MuseLinkActive {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 24px;
    width: 15.19%;
    margin: 12px -10000px -1px 0%;
}

#u1984-4 {
    z-index: 38;
    position: relative;
    margin-right: -10000px;
    margin-top: 21px;
    width: 37.03%;
    left: 6.97%;
}

#u1978-4 {
    z-index: 14;
    margin-top: 16px;
    position: relative;
    width: 17.09%;
    margin-left: 41.46%;
}

#pu1980-4 {
    z-index: 22;
    margin-top: 49px;
    width: 54.17%;
    margin-left: 22.92%;
}

#u1980-4 {
    z-index: 22;
    min-height: 24px;
    position: relative;
    margin-right: -10000px;
    width: 18.47%;
}

#u1980-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 24px;
    width: 18.47%;
    margin: 0px -10000px -1px 0%;
}

#u2263-4 {
    z-index: 42;
    min-height: 24px;
    position: relative;
    margin-right: -10000px;
    width: 18.47%;
    left: 20.39%;
}

#u1980-4.MuseLinkActive, #u2263-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 24px;
    width: 18.47%;
    margin: 0px -10000px -1px 0%;
}

#u1981-4 {
    z-index: 26;
    min-height: 24px;
    position: relative;
    margin-right: -10000px;
    width: 18.47%;
    left: 40.77%;
}

#u2263-4.MuseLinkActive, #u1981-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 24px;
    width: 18.47%;
    margin: 0px -10000px -1px 0%;
}

#u1982-4 {
    z-index: 30;
    min-height: 24px;
    position: relative;
    margin-right: -10000px;
    width: 18.47%;
    left: 61.16%;
}

#u1981-4.MuseLinkActive, #u1982-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 24px;
    width: 18.47%;
    margin: 0px -10000px -1px 0%;
}

#u1979-4 {
    z-index: 18;
    min-height: 24px;
    position: relative;
    margin-right: -10000px;
    width: 18.47%;
    left: 81.54%;
}

#u1982-4.MuseLinkActive, #u1979-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 24px;
    width: 18.47%;
    margin: 0px -10000px -1px 0%;
}

#u1979-4.MuseLinkActive {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 24px;
    width: 18.47%;
    margin: 0px -10000px -1px 0%;
}

#u1136 {
    z-index: 47;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    padding-bottom: 153px;
    margin-top: 16px;
    position: relative;
    width: 99.8%;
    margin-left: 0.11%;
    background: #7F7F7F url("/assets/giftbox.jpg?crc=413373713") no-repeat left top;
}

#u1157-6 {
    z-index: 52;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    margin-top: 103px;
    width: 36.85%;
    left: 55.54%;
}

#pu1228 {
    z-index: 58;
    margin-top: 13px;
    width: 88.44%;
    margin-left: 5.73%;
}

#u1228 {
    z-index: 58;
    height: 326px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    position: relative;
    margin-right: -10000px;
    width: 45.71%;
    background: transparent url("/assets/cookie.jpg?crc=138829222") no-repeat center center;
}

#u1231 {
    z-index: 59;
    height: 326px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    position: relative;
    margin-right: -10000px;
    width: 45.71%;
    left: 54.3%;
    background: transparent url("/assets/box.jpg?crc=76822090") no-repeat center center;
    background-size: cover;
}

#u1153 {
    z-index: 46;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: transparent;
    padding-bottom: 64px;
    margin-top: 13px;
    position: relative;
    width: 99.8%;
}

#u713-4 {
    z-index: 48;
    min-height: 256px;
    background-color: transparent;
    text-align: center;
    color: #000000;
    position: relative;
    margin-right: -10000px;
    margin-top: 42px;
    width: 54.08%;
    left: 22.97%;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1520px);
}

#pu1403-4 {
    z-index: 7;
    margin-bottom: -105px;
    margin-right: -10000px;
    margin-top: 39px;
    width: 100%;
}

#u1403-4 {
    z-index: 7;
    min-height: 24px;
    position: relative;
    width: 9.62%;
    margin-left: 44.99%;
}

#u1403-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 24px;
    width: 9.62%;
    margin: 0px 0px 0px 44.98997995991984%;
}

#u1403-4.MuseLinkActive {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 24px;
    width: 9.62%;
    margin: 0px 0px -1px 44.98997995991984%;
}

#u923 {
    z-index: 2;
    min-height: 44px;
    padding-bottom: 23px;
}

#u923_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#u399-4 {
    z-index: 3;
    min-height: 21px;
    position: relative;
    margin-right: -10000px;
    margin-top: 23px;
    width: 17.04%;
    left: 41.19%;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#u923-bw {
    z-index: 2;
    min-height: 44px;
    margin-top: 38px;
}

#muse_css_mq, .html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 320px;
}

.verticalspacer {
    min-height: 1px;
}