
<div class="clearfix borderbox" id="page"><!-- group -->

    <div class="clearfix colelem" id="u1136"><!-- group -->
      <%= image_tag "u1157-6", class: "grpelem", id: "u1157-6", alt:"OLIVER HEART" %>
    </div>
    <div class="clearfix colelem" id="pu1228"><!-- group -->
      <div class="grpelem" id="u1228"><!-- simple frame --></div>
      <div class="museBGSize grpelem" id="u1231"><!-- simple frame --></div>
    </div>
    <div class="shadow clearfix colelem" id="u1153"><!-- group -->
      <div class="clearfix grpelem" id="u713-4" data-muse-temp-textContainer-sizePolicy="true" data-muse-temp-textContainer-pinning="true"><!-- content -->
        <p>eget nullam non nisi est sit amet facilisis magna etiam tempor orci eu lobortis elementum nibh tellus molestie nunc non blandit massa enim nec dui nunc mattis enim ut tellus elementum sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit egestas dui id ornare arcu odio ut sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit sed vulputate mi sit amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit amet mattis</p>
      </div>
    </div>
  </div>
  <div class="verticalspacer" data-offset-top="1354" data-content-above-spacer="1354" data-content-below-spacer="166" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>

</div>