.container-fluid
  .row
    =image_tag 'aboutheader', class: 'jumbo-image'
.spacer
.container
  .row
    #details-area
      #company-name Oliver Heart
      .col-md-9.ml-auto.mr-auto#company-details Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque felis libero, condimentum eget velit in, porttitor semper ante. Donec augue purus, eleifend eu interdum non, viverra et ipsum. Sed dapibus nisi vitae enim elementum, ac pellentesque metus fermentum. Nulla finibus, est ut tincidunt tempus, lectus neque maximus lorem, et sodales.