.container-fluid
  .row
    =image_tag 'welcomeheader', class: 'jumbo-image'
.spacer
.container-fluid
  .row
    .col-md-4
      =image_tag 'img-left', class: 'small-image'
    .col-md-4
      =image_tag 'img-center', class: 'small-image'
    .col-md-4
      =image_tag 'img-right', class: 'small-image'