

      <div class="row">
      <% @items.each do |item| %>
            <div class="col-sm-4 item">
            <%= link_to item do  %>

              <div class="clearfix grpelem" id="pu1373"><!-- column -->
                <div class="colelem" id="u1373"><!-- simple frame --></div>
                <div class="clearfix colelem" id="u734-4" data-muse-temp-textContainer-sizePolicy="true" data-muse-temp-textContainer-pinning="true"><!-- content -->
                  <%= image_tag "placeholderbasket", height: 150 %>
                  <p><%= item.name %></p>
                  <p>$<%= item.price %></p>
                </div>
              </div>

          <% end %>
            </div>
            <% end %>
      </div>
  </div>
  <div class="verticalspacer" data-offset-top="999" data-content-above-spacer="999" data-content-below-spacer="168" data-sizePolicy="fixed" data-pintopage="page_fixedLeft"></div>
  <div class="clearfix grpelem" id="pu1403-4"><!-- column -->
    <a class="nonblock nontext transition clearfix colelem" id="u1403-4" href="contact.html" data-muse-temp-textContainer-sizePolicy="true" data-muse-temp-textContainer-pinning="true"><!-- content --><p>CONTACT</p></a>
    <div class="browser_width colelem" id="u923-bw">
      <div id="u923"><!-- group -->
        <div class="clearfix" id="u923_align_to_page">
          <div class="clearfix grpelem" id="u399-4" data-muse-temp-textContainer-sizePolicy="true" data-muse-temp-textContainer-pinning="true"><!-- content -->
            <p>Website Created By Xaas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
