$exo: 'Exo 2', sans-serif;

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #edeaea;
  text-align: center;
  font-family: $exo;
  font-size: .7em;
}